
input {
    width: 100%;
}

.history-slider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    user-select: none;
}

    .sliderticks p {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 1px;
        background-color: var(--gtlv-foreground);
        opacity: 0.6;
        height: 5px;
        line-height: 30px;
        font-size: 10px;
        margin: 0 0 20px 0;
        user-select: none;
    }
